<head>
<style> 
h1 {
    color: red;
    font-size: 12px;
}
</style>
        <title>
            Udhaya Neduchezhiyan's Porfolio
        </title>
</head>
<body>
#Accomplishment
<style> {
    table
    border: 2px solid navy;
    border collapse: collapse;
}
</style>
</body>